<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style type="text/css">
        .a1{
            text-align: center;
            margin: 20px auto;
            padding-top: 150px;
        }
        .a2{
            background-color: #00a65a;
            border: #000000 1px solid;
            width: 300px;
            height: 160px;
            margin: 20px auto;
        }
    </style>

</head>
<body>
<div class="a1">
    <h1>学生成绩管理系统登录</h1>
    <div class="a2">
    <form method="post">
        <br/>
        <input type="text" name="username" placeholder="请输入用户名">
        <br/>
        <br/>
        <input type="password" name="id" placeholder="请输入学号或密码">
        <br/>
        <br/>
        <input type="submit" value="登录">
        <input type="button" value="退出">
        <br/>
        {{message}}
    </form>
    </div>
</div>
</body>
</html>